<!-- <%# if @answer.errors.any? %>
  <ul>
    <%# @answer.errors.full_messages.each do |msg| %>
      <li><%#= msg %></li>
    <%# end %>
  </ul>
<%# end %> -->

<%# form_for @answer, url: question_answers_path(@question) do |f| %>

<!--   <div class="form-group">
    <%#= f.label :body %>
    <%#= f.text_area :body, class: "form-control" %>
  </div> -->
  
<%= simple_form_for [@question, @answer], html: { class: 'form-horizontal' }, remote: true do |f| %>
  <%= f.input :body %>  
  <%= f.submit class: "btn btn-primary" %>
<% end %>