<p>Hello <%= @user.first_name %>,</p>

<p>You've got and answer for your question titled: <%= @question.title %></p>

<p>The answer is: <%= @answer.body %></p>

<p>Regards,</p>

<p>Awesome Answers Team</p>