<h1>About</h1>





<!-- 
<button><h1>About</h1></button>
 -->

<!-- <input id="sentence" name="sentence" placeholder="Type something.." type="text" value="">
<div id="shuffled">Sadfadfadfasdfasdf</div>
 -->


<!-- <input id="color" name="color" placeholder="Type something.." type="text" value="">

Color Queue:

<div id="colors"></div> -->



<!-- 
<input id="email" name="email" placeholder="email" type="text" value="">
<div class="email-valid glyphicon glyphicon-ok"></div>
<div class="email-invalid glyphicon glyphicon-remove hide"></div>
<input id="password" name="password" placeholder="password" type="password" value="">
<div class="password-valid glyphicon glyphicon-ok"></div>
<div class="password-invalid glyphicon glyphicon-remove hide"></div>
<input class="chkbox" id="remember_me" name="remember_me" type="checkbox" value="abc">

Remember Me -->
